dj-database-url>=3.1.2
django>=6.0.2
django-cors-headers>=4.9.0
django-filter>=25.2
djangorestframework>=3.16.1
drf-yasg>=1.21.15
gunicorn>=25.1.0
pillow>=12.1.1
psycopg[binary]>=3.3.3
python-decouple>=3.8
python-dotenv>=1.2.2
u>=2.1
whitenoise>=6.12.0
redis>=7.2.1
django-redis>=6.0.0
celery>=5.6.2
channels[daphne]>=4.3.2
uvicorn[standard]>=0.41.0
python-magic>=0.4.27
pylibmagic>=0.5.0
tox==4.47.3
ruff>=0.15.4
